.content.about .row .col.col-6 {
    width: 100%;
    &::before{
        content: initial;
    }
    .info-list {
        padding-top: 0;

         ul {
            margin: 0;
            padding: 0;
            font-size: 0;
            list-style: none;
            overflow: hidden;

            li {
                line-height: 1.6;
                position: relative;
                text-align: right;
                padding: 0 0 5px 0;
                display: inline-block;
                vertical-align: top;
                width: 50%;
                text-align: left;
                font-size: 0.88rem;

                &:first-child {
                    padding-top: 0;
                }
            }
           
            
            
        }
    }
    .hobby-list {
        padding-top: 0;

         ul {
            margin: 0;
            padding: 0;
            font-size: 0;
            list-style: none;

            li {
                line-height: 1.6;
                position: relative;
                text-align: right;
                padding: 0 0 5px 0;
                display: inline-block;
                vertical-align: top;
                width:100%;
                text-align: left;
                font-size: 0.89rem;

                &:first-child {
                    padding-top: 0;
                }
            }
        }
    }
}
.content.about .row .col.col-6:first-child{
    padding-bottom: 0;
}
.content.about .row .col.col-6:nth-child(2) {
    padding-top: 15px;
}
@media (max-width: 1240px){
    .content.about .row .col.col-6 .info-list ul li{
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
}