.content {
    position: relative;
    margin: 0 0 40px 0;

    &:last-child {
        margin-bottom: 30px;
    }
    input,textarea,button{
        transition: all 0.3s ease 0s;
        box-shadow:  5px 5px 10px rgba(120, 204, 109,0.2);
    }
    .title {
        color: var(--darkgrey);

        &:after {
            content: '';
            position: absolute;
            height: 1px;
            left: -30px;
            right: 0;
            bottom: 0;
            width: auto;
            background: var(--gradient3);
        }
    }

    .alert-success {
        display: none;
    }

    .contacts .row {
        .col {
            flex: none;

            textarea {
                padding: 15px;
                height: 94px;
            }
        }

        .align-left {
            .icon {
                font-size: 1.2rem;
                margin: 0 6px;
            }
            
            button{
                box-shadow:  5px 5px 10px rgba(120, 204, 109,0.2);
                &:hover{
                background: var(--highlight-primary);
                border: none;
                .icon {
                    margin-left: 10px;
                }
            } 
        }
           
        }
    }
}