@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: black;
  --white: white;
  --bg-color-primary: white;
  --bg-color-secondary: #31313a;
  --deepskyblue: deepskyblue;
  --fandango: #b53389;
  --chambreyblue: #3a559f;
  --highlight-primary: #78cc6d;
  --highlight-secondary: #ff9800;
  --title-clr-primary: rgba(255, 255, 255, 0.85);
  --title-clr-secondary: black;
  --icon-color-primary: white;
  --icon-color-secondary: #323232;
  --gold: gold;
  --bg-gradient: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
  --gradient1: linear-gradient(135deg,
      rgba(120, 204, 109, 0.4) 0%,
      rgba(120, 204, 109, 0.012) 100%);
  --gradient2: radial-gradient(ellipse at center,
      #dddddd 0%,
      rgba(255, 255, 255, 0) 70%);
  --gradient3: radial-gradient(ellipse at left,
      #dddddd 0%,
      rgba(255, 255, 255, 0) 70%);
  --darkgradient: linear-gradient(to bottom right, #17171b 0%, #28282f 100%);
  --link-clr-primary: rgba(255, 255, 255, 0.85);
  --link-clr-secondary: #323232;
  --darkgrey: #323232;
  --grey: #999999;
  --lightgrey: #cccccc;
  --varylightgrey: #eeeeee;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #646464;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: var(--white);
}
html {
  font-size: 100%;
}
@media (max-width: 360px) {
  html {
    font-size: 80%;
  }
}
@media (min-width: 360px) and (max-width: 560px) {
  html {
    font-size: 93%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 25px 0;
  font-size: 30px;
  color: #323232;
  line-height: 1.4em;
  font-weight: 600;
}

.h-title {
  margin-bottom: 5px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1rem;
  line-height: 1.8em;
  padding: 0;
  margin: 0 0 25px 0;
}

strong {
  font-weight: 600;
}

a {
  color: var(--darkgrey);
  text-decoration: none;
}
