.box-item .image .info:before {
  background: -moz-linear-gradient(-45deg, rgba(120, 204, 109, 0.5) 0%, rgba(120, 204, 109, 0.01) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(120, 204, 109, 0.5) 0%, rgba(120, 204, 109, 0.01) 100%);
  background: linear-gradient(135deg, rgba(120, 204, 109, 0.5) 0%, rgba(120, 204, 109, 0.01) 100%);
}

.box-item .image .info:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease 0s;
}

.p-section .grid-items {
  position: relative;
  min-height: 1px;

  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 0;
    padding-bottom: 20px;
  }
   .col-6{
    flex: 1 0 0%;
   }
  .col{
    padding: 20px;
    .box-item{
      position: relative;
      text-align: center;
      width: 180px;
      overflow: hidden;
      &:hover{
        img {
          transform: scale(1.2);
         
        }
         .icon-box{
            display: inline;
          }
      } 
      .icon-box{
        position: absolute;
        z-index: 2;
        display: none;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba(0, 0, 0,0.3);
        .p-icon{
          position: relative;
          top: 40%;
          z-index: 2;
          font-size: 1.2rem;
          filter: brightness(130%);
          color: var(--highlight-primary);
          cursor: pointer;
         }
      }
   
      .image{
        position: relative;
        overflow: hidden;
        border-radius: 4px;
     
        a {
          display: initial;

          img {
            position: relative;
            width: 100%;
            height: auto;
            transition: all 0.5s;
          }
        }

      }

      .desc{
        position: relative;
        padding: 10px 0 0 0;

        a {
          font-size: 0.7rem;
          &::before{
            right:auto;
            left: 0;
            bottom: 0;
            top:auto;
            width: 100%;
            height: 1px;
          }
        }
      }
    }
  }
}
.p-btn.active{
  color: black;
  text-decoration: underline;
}
.p-btn{
  width: auto;
  border: none;
}
.p-btn:hover,
.p-btn:focus{
  color: black;
  text-decoration: underline;
  box-shadow: none !important;
}