.page_404 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  min-height: 100%;
  height: calc(100vh - 80px);
  // border: 1px solid red;

  .error_container{
    width: 100%;
    .four_zero_four_bg h1 {
      font-size: 80px;
    }
    
    .four_zero_four_bg h3 {
      font-size: 80px;
    }
    
    .link_404 {
      color: #fff;
      padding: 10px 20px;
      background: #39ac31;
      margin: 20px 0;
      display: inline-block;
      font-size: 1rem;
    }
    
    .link_404:hover{
        color: #fff;
        text-decoration: underline;
    }
    .contant_box_404 {
      margin-top: -50px;
    }
    
  }
}

